
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~material-design-icons/iconfont/material-icons.css';

@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Ubuntu", sans-serif;');
@include mat-core($custom-typography);

html {
  height: 100%;
}
body {

  height: 100%;
  transition: all .25s ease-in-out;
  display: block;
  position: relative;
  margin: 0;
}


.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #191B3D;
  min-height: 100%;

}

.hl-card-container {
  position: relative;
  height: 100%;
  display: block;

}
.hl-card {
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 60%;
  padding: 0!important;
  background: #fff;
  text-align: center;



}
.hl-header {
  width: 100%;
  background:#F9F9F9;
  height: 30%;
  border-bottom: 1px solid #E0E0E0;

}

.header-user-image {

  position: relative;
  background: #fff;
  padding: 5px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 1px solid rgba(0,0,0,.25);
  bottom: -30%;



  //width: 150px;
  //height: 150px;
  //border: 3px solid #fff;
  //border-radius: 50%;
  //box-shadow: 0 0 0 1px #E0E0E0;
  //display: block;
  //position: relative;
  //bottom: -30%;
  //z-index: 5;

  // margin: 3px auto 30px auto;
}
.horizontal-center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.icons mat-icon{
  color: lightgray;
  padding:0 1em 0 1em;
  font-size: xx-large;
  width: 5%;
  height: 100%;
  cursor: pointer;
}

.icons mat-icon:hover, .icons mat-icon:active{
  color: #83ba43;
  fill: #83ba43;
}
.icons {
  position: fixed;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  height: 15%;
  width: 80%;
  display: flex;
  justify-content: center;

}

.hl-sidenav {
  min-width: 20%;
  height: 100%;
  background: #EDF1FA;
}

.hl-content {
  position: relative;
  top: 15%;
}
#user_title {
  color: #999;
  font-size: 18px;
  margin: 0;
}
#user_value {
  color: #2c2e31;
  font-size: 38px;
  margin: 5px;


}
.capitalize {
  text-transform: capitalize;
}
mat-sidenav-content {
  height: 800px!important;
}

.icons-container {

}
.users-list {
  position: relative;
  top: 20%;
  left: 0;
  //margin-left:10%;

}
.users-list a {
  color: #191B3D;
  text-transform: capitalize;
  text-decoration: none;
  padding-left: 10%!important;

}
.users-list mat-list-item {
  width: 100%;
}
//.users-list mat-list-item a :hover :active {
//  color: #fff;
//  background-color: #191B3D;
//}
.selected-user {
  color: #fff;
  background-color: #191B3D;
}
.mat-nav-list a.active {
  color: #fff;
  background-color: #191B3D;
}


